body {
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  background: url('../images/stardust.png')
}

timbre-graph {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
}

#title{
  text-align: center;
}


.node {
  stroke: #fff;
  stroke-width: 1.5px;
  /*fill: fuchsia;*/
  z-index: 1000;
}

.link {
  stroke: #999;
  stroke-width: 4px;
  stroke-opacity: .6;
}
